<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
        <span></span>
        This page will show the timer counting down.
    </div>
  </div>  
<%- include('partials/footer') -%>