<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
        <span>
          This page will show the timer counting down.
        </span>

        <!-- <form action="/home" method="GET" id="timerButton" style="display:none">
          <input type="submit" value="You're done!">
        </form> -->

        <span class="countdown font-mono text-2xl">
          <span style="--value:10;"></span>:
          <span style="--value:24;"></span>:
          <span style="--value:43;"></span>
        </span>

        
    </div>
  </div>  
<%- include('partials/footer') -%>

<script>
  <span className="countdown font-mono text-2xl">
    <span style={{"--value":10}}></span>h
    <span style={{"--value":24}}></span>m
    <span style={{"--value":7}}></span>s
  </span>
</script>